.cheight {
	min-height: 330px;
	max-height: 330px;

}

textarea {
	resize:none;
}

.horz-center {
    justify-content: center;
}

.valign {
	vertical-align:center;
}

.cheight-panel {
	min-height: 350px;
	max-height: 350px;

}

.csize-play {
	 min-height:100px;
	 max-height:100px;
	 min-width:50px;
	 max-width:50px;
	 display:inline-block;
}

.cheight-play {
	 min-height:100px;
	 max-height:100px;
	 font-size: x-small;
	 word-break: break-all;
}


.fixed-image {
	min-height:200px;
	max-height:200px
}

.card-container {
	padding-bottom: 5px;
}

a.card-link {
	text-decoration:none;
	color: inherit;
}

.play-panel,.button-panel {
	padding:10px;
}

.work-panel {

  min-height: 100%;

}