<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Spaced - About')">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/css/hover-min.css" th:href="@{/css/hover-min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/flip.css" th:href="@{/css/flip.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/custom.css" th:href="@{/css/custom.css}" />
</head>
<body>
	<header th:replace="fragments :: header" class="navbar">
		<section class="navbar-section">
			&nbsp;&nbsp;<a href="index.html" class="navbar-brand mr-2">Spaced</a>
		</section>
	</header>
	<!-- Page Content -->
	<div class="container">
		<div class="columns">
			<div class="column col-12">
				<p>This app is meant to be a study aid. It presents a selection of cards, starting by the newly added, followed by the ones more recently tried and failed, and finally the ones successfully tried.</p>
				<p>This is very loosely based in the idea of spaced repetition, except with less sophisticated spacing. For an actual explanation of the spaced repetition technique, see this video:</p>
				<p><a href="https://www.youtube.com/watch?v=eVajQPuRmk8"><i class="fab fa-youtube"></i>&nbsp;&nbsp;Spaced Repetition</a></p>
				<p>This app is originally meant to help in memorizing French verbs declinations and vocabulary, but it can be used for any other set of knowledge that can be put to cards.</p>
				<p>This project is an open source POC for the interaction of the following technologies:</p>
				<div class="container">
					<div class="columns">
						<div class="column col-1">
							<img class="tech-about" src="https://image.ibb.co/cJaJYp/spring_boot_project_logo.png" title="Spring Boot">
						</div>
						<div class="column col-1">
							<img class="tech-about" src="https://image.ibb.co/b530eU/image.png" title="Spring Security">
						</div>
						<div class="column col-1">
							<img class="tech-about" src="https://image.ibb.co/cA7AeU/image.png" title="Thymeleaf">
						</div>
						<div class="column col-1">
							<img class="tech-about" src="https://image.ibb.co/crCRKU/image.png" title="jQuery">
						</div>
						<div class="column col-1">
							<img class="tech-about" src="https://image.ibb.co/fCXbKU/image.png" title="Hibernate">
						</div>
						<div class="column col-1">
							<img class="tech-about" src="https://image.ibb.co/jpSOYp/image.png" title="PostgreSQL">
						</div>
						<div class="column col-1">
							<img class="tech-about" src="https://i.ibb.co/1nfgyB4/snfAGDyh.jpg" title="Spectre Framework">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
</body>
</html>
