<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
<head th:replace="fragments::head('Spaced - Home')">
<title th:text="${title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script src="../static/js/testdata.js" th:src="@{/js/testdata.js}"></script>
<script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/hover-min.css" th:href="@{/css/hover-min.css}" />
<link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}" />
</head>
<body>
	<header class="navbar">
		<section class="navbar-section">
			<a href="/index" class="navbar-brand mr-2">Spaced</a>
		</section>
		<section class="navbar-section">
			<a href="..." class="btn btn-link">Admin</a> <a href="..." class="btn btn-link">User</a>
		</section>
	</header>
	<div class="docs-content">
		<ul id="deck-tabs" class="tab tab-block">
		</ul>
		<div class="container">
			<p th:text="${cardset.name}"></p>
			<p th:text="${cardset.description}"></p>
			<p th:text="${cardset.image}"></p>
			<div class="columns">
				<div class="card col-2 cheight">
					<div class="card-body" id="answer">
						<a id="card-add" href="#modal-create-card"><i class="fas fa-plus-circle"></i></a>
					</div>
				</div>
				<div th:each="card: ${cardset.cards}" th:id="${card.id}" class="card col-2 cheight">
					<div class="card-header">
						<div class="card-title" id="task" th:text="${card.task}"></div>
						
					</div>
					<div class="card-body" id="answer" th:text="${card.answer}"></div>
					<div class="card-footer">
						<a href="#modal-create-card" title="edit set" class="link-edit btn btn-sm btn-primary hvr-grow"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;
						<a href="#" title="delete set" class="link-delete btn btn-sm btn-error hvr-grow"><i class="fas fa-trash-alt"></i></a>&nbsp;&nbsp;
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="modal modal-lg" id="modal-create-card">
		<a href="#close" class="modal-overlay" aria-label="Close"></a>
		<div class="modal-container">
			<div class="modal-header">
				<a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
				<div class="modal-title h5">New Card</div>
				<form method="post" action="/entities/card">
					<input type="hidden" id="cardset-id" name="cardset-id" th:value="${cardset.id}">
					<input type="hidden" id="id" name="id">
					<div class="form-group">
						<label class="form-label" for="input-example-1">Task</label>
						<input class="form-input" type="text" id="task" name="task" placeholder="Task">
					</div>
					<div class="form-group">
						<label class="form-label" for="input-example-1">Answer</label>
						<textarea class="form-input" type="text" id="answer" name="answer" placeholder="Answer"></textarea>
					</div>
					<div class="form-group">
						<button type="reset" class="btn btn-primary">Reset</button>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-body">
			<div class="content">
				<!-- content here -->
			</div>
		</div>
		<div class="modal-footer">...</div>
	</div>
</body>
<script>
	/*<![CDATA[*/
	$("#card-add").click(e => $(this.attr("href")).addClass("active"));
	$("a.link-edit").click(e => {
		var card = $(e.target).parent().parents(".card");
		var id = card.attr("id");
		$("#modal-create-card #id").val(id);
		$("#modal-create-card #task").val(card.find("#task").text());
		$("#modal-create-card #answer").val(card.find("#answer").text());
		
		$($(e.target).attr("href")).addClass("active");
		e.stopPropagation();
	});
	$("a.link-delete").click(e => { 
	$.get('/entities/card/delete/' + $(e.target).parent().parents(".card").attr("id"),
			() => $(e.target).parent().parents(".card").remove() ); e.stopPropagation();});
	/*]]>*/
</script>
</html>
</body>
</html>