<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Spaced - Cardset')">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../static/js/testdata.js" th:src="@{/js/testdata.js}"></script>
<script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/css/hover-min.css" th:href="@{/css/hover-min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/flip.css" th:href="@{/css/flip.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/custom.css" th:href="@{/css/custom.css}" />
</head>
<body>
	<header th:replace="fragments :: header" class="navbar">
		<section class="navbar-section">
			&nbsp;&nbsp;<a href="index.html" class="navbar-brand mr-2">Spaced</a>
		</section>
	</header>
	<div class="docs-content">
		<div class="divider text-center" data-content="Cardset"></div>
		<div class="tile tile-centered">
			<div class="tile-icon">
				<div class="example-tile-icon">
					<figure class="avatar avatar-lg">
						<img th:src="${cardset.image}" />
					</figure>
				</div>
			</div>
			<div class="tile-content">
				<p class="tile-title" th:text="${cardset.name}"></p>
			</div>
		</div>
		<div class="tile tile-centered">
			<div class="tile-icon"></div>
			<div class="tile tile-content description" th:text="${cardset.description}"></div>
		</div>
		<div class="divider text-center" data-content="Cards"></div>
		<div class="container">
			<div class="columns">
				<div class="column col-2">
					<a id="card-add" href="#modal-create-card"><i class="fas fa-plus-circle"></i>&nbsp;Add Card</a>
				</div>
				<div id="card-total" class="column col-1"></div>
				<div class="column col-9">
					<li id="page-model" class="d-none page-item"><a class="page-link" href="#">1</a></li>
					<ul class="pagination">
					</ul>
				</div>
				<div class="class-container column col-12">
					<table class="table">
						<thead class="thead-dark">
							<tr id="card-model" class="d-none row">
								<td class="col-3" id="task"></td>
								<td class="col-1" id="play"></td>
								<td class="col-1" id="deck"></td>
								<td class="col-6"><p id="answer" class="answer"></p></td>
								<td class="col-1" id="actions"><a data-card="id" href="#modal-create-card" title="edit card" class="link-edit btn btn-sm btn-primary hvr-grow"> <i class="fas fa-edit"></i></a>&nbsp;&nbsp; <a data-card="id" href="#" title="delete card" class="link-delete btn btn-sm btn-error hvr-grow"><i class="fas fa-trash-alt"></i></a></td>
							</tr>
							<tr>
								<th>Task</th>
								<th>Last play</th>
								<th>Deck</th>
								<th>Answer</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div id="cards"></div>
				<div id="page"></div>
			</div>
		</div>
	</div>
	<div class="modal modal-lg" id="modal-create-card">
		<a href="#close" class="modal-overlay" aria-label="Close"></a>
		<div class="modal-container">
			<div class="modal-header">
				<a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
				<div class="modal-title h5">New Card</div>
				<form method="post" action="/entities/card">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<input type="hidden" id="cardset-id" name="cardset-id" th:value="${cardset.id}">
					<input type="hidden" id="id" name="id">
					<div class="form-group">
						<label class="form-label" for="input-example-1">Task</label>
						<input class="form-input" type="text" id="task" name="task" placeholder="Task">
					</div>
					<div class="form-group">
						<label class="form-label" for="input-example-1">Answer</label>
						<textarea class="form-input" type="text" id="answer" name="answer" rows="8" placeholder="Answer"></textarea>
					</div>
					<div class="form-group">
						<a id="submit-btn" type="button" data-dismiss="modal" href="#close"	class="btn btn-primary">Submit</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script>
	/*<![CDATA[*/
		
	function cardModal(id,task,answer){
		$("#modal-create-card #id").val(id);
		$("#modal-create-card #task").val(task);
		$("#modal-create-card #answer").val(answer);
	}	
		
	function createPageNumber(i,active,enabled,pageFn,customText){
		var page= $("#page-model").clone().toggleClass("d-none");
		if (!enabled) $(page).toggleClass('disabled');
		if (active) $(page).toggleClass('active');
		$(page).find(".page-link").text(customText?customText:i).click(() => pageFn(i-1));
		$(".pagination").append(page);
	}
		
	function loadPage(page){
		$(".pagination").empty();
		$.get('/cardset/'+$("#cardset-id").val()+'/cards/' + page,
				(data) => {
					$("#card-total").text(data.totalElements);
					$(".class-container tbody").empty();
					for (var i = 0;i<data.content.length;i++){
						var row = $("#card-model").clone();
						$(row).find("#play").text(data.content[i].play);
						$(row).find("#task").text(data.content[i].task);
						$(row).find("#answer").text(data.content[i].answer);
						$(row).find("#actions").find(".link-edit").attr("data-card",data.content[i].id)
						.click(e => {
							var task = $(e.target).closest("tr").find("#task").text();
							var answer = $(e.target).closest("tr").find("#answer").text();
							console.log(answer);
							cardModal($(e.target).closest(".link-edit").attr("data-card"),task,answer);
						//-----------------------------------
							
							$(e.target).addClass("active");
							e.stopPropagation();
						});
						$(row).find("#actions").find(".link-delete").attr("data-card",data.content[i].id)
						.click(e => { 
								$.get('/entities/card/delete/' + $(e.target).closest(".link-delete").attr("data-card"),
								() => loadPage(page) ); 
								e.stopPropagation();
							}
						);
						$(row).toggleClass("d-none");
						$(".class-container tbody").append(row);
					}
			//	$("#cards").text();
			
			//build pagination bar
			createPageNumber(data.number,true,!data.first,loadPage,'«');
			for (var i = 1;i<=data.totalPages;i++){
				createPageNumber(i,data.number+1 == i,true,loadPage);
			}
			createPageNumber(data.number+2,true,!data.last,loadPage,'»');
			//--------------------
				});
	}
		
	var _csrfParameterName = '[[${_csrf.parameterName}]]';// 'default';
	var _csrfToken = '[[${_csrf.token}]]';// 'default';
	var csrf = {};
	csrf[_csrfParameterName] = _csrfToken;
	
	//------------ first page ----------
	var page = 0;
	loadPage(page);
	//----------------------------------
	
	
	//-------- create card invocation
	$("#card-add").click(e => {cardModal("","","");$(e.target).addClass("active");});
	
	//-------- submit button ---------
	function createFormObject(){
		var loginForm = $('#modal-create-card form').serializeArray();
		var loginFormObject = {};
		$.each(loginForm,
		    function(i, v) {
		        loginFormObject[v.name] = v.value;
		    });
		
		return loginFormObject;
	}
	
	$("#submit-btn").click(e => $.post($('#modal-create-card form').attr("action"),createFormObject())
	.fail(data => alert("duplicated entity name"))
	.always(function(data){$("#modal-create-card").removeClass("active"); loadPage(page);}));
	/*]]>*/
</script>
</html>
</body>
</html>