<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
<title th:text="${title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/css/hover-min.css" th:href="@{/css/hover-min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/flip.css" th:href="@{/css/flip.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/custom.css" th:href="@{/css/custom.css}" />
</head>
<body>
	<!-- Navigation -->
	<header th:fragment="header" class="navbar">
		<section class="navbar-section">
			&nbsp;&nbsp;<a href="/index" class="navbar-brand mr-2">Spaced</a>
		</section>
		<section class="navbar-section">
			<a title="change password" th:href="@{/password}" class="btn btn-link"><i class="fas fa-key"></i></a> <a title="about page" th:href="@{/about}" class="btn btn-link"><i class="fa fa-info-circle"></i></a> <a title="github repo" href="https://github.com/jorgeamadosoria/spaced" class="btn btn-link"><i class="fab fa-github"></i></a>
			<form method="post" action="#" th:action="@{/logout}">
				<button title="logout" type="submit" class="btn btn-link">
					<i class="fas fa-sign-out-alt text-muted"></i>
				</button>
			</form>
		</section>
	</header>
</body>
</html>
</body>
</html>