<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
<head th:replace="fragments::head('Spaced - Home')">
<title th:text="${title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script src="../static/js/testdata.js" th:href="@{/js/testdata.js}"></script>
<script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/hover-min.css" th:href="@{/css/hover-min.css}" />
<link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}" />
</head>
<body>
	<header class="navbar">
	  <section class="navbar-section">
		<a href="index.html" class="navbar-brand mr-2">Spaced</a>
	  </section>
	  <section class="navbar-section">
		<a href="..." class="btn btn-link">Admin</a>
		<a href="..." class="btn btn-link">User</a>
	  </section>
	</header>
	<div class="docs-content">
		<div class="container">
			<div class="columns">

			
			</div>
		</div>
	</div>
	<section class="d-hide">
		<div id="cardset-model" class="column col-3">
			<div id="1" class="card cheight c-hand">
				<div class="card-image"><img class="img-responsive" src="https://www.avalonfreelibrary.org/sites/default/files/Calendar%20Images/AFPL%20website%20event%20icons-25.png" alt="OS X El Capitan"></div>
				<div class="card-header">
					<div class="card-title h5"></div>
				</div>
				<div class="card-body"></div>
				<div class="card-footer">
					<a id="view-button" href="cardset.html?id=" class="btn btn-primary hvr-grow">View</a>
					&nbsp;&nbsp;
					<a id="play-button" href="play.html?id=" class="btn btn-primary hvr-grow">Play</a>
				</div>
			</div>
		</div>
	</section>
</body>
<script>
	/*<![CDATA[*/
	/*
	Load cards here
	*/
	var cardsets = loadCardsets();
	
	cardsets.forEach(cardset => $("#cardset-model").clone().removeAttr("id")
	.find(".card-image img").attr("src",cardset.image).end()
	.find(".card-title").text(cardset.name).end()
	.find(".card-body").text(cardset.description).end()
	.find("#view-button").attr("href","cardset.html?id=" + cardset.id).end()
	.find("#play-button").attr("href","play.html?id=" + cardset.id).end()
	.appendTo(".container .columns")
	);
	
	
	/*]]>*/
</script>
</html>
</body>
</html>