<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
<head th:replace="fragments::head('Spaced - Home')">
<title th:text="${title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script src="../static/js/testdata.js" th:href="@{/js/testdata.js}"></script>
<script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/hover-min.css" th:href="@{/css/hover-min.css}" />
<link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}" />
</head>
<body>
	<header class="navbar">
		<section class="navbar-section">
			<a href="index.html" class="navbar-brand mr-2">Spaced</a>
		</section>
		<section class="navbar-section">
			<a href="..." class="btn btn-link"><i class="fa fa-info-circle"></i></a> <a href="..." class="btn btn-link"><i class="fa fa-sign-out-alt"></i></a>
		</section>
	</header>
	<div class="docs-content">
		<div class="container">
			<div class="columns">
				<div class="column col-3">
					<div id="create-cardset" class="card cheight">
						<div class="card-body tile tile-centered horz-center">
							<a id="cardset-add" href="#modal-create-cardset"><i class="fas fa-8x fa-plus-circle"></i></a>
						</div>
					</div>
				</div>
				<div th:each="cardset : ${cardsets}" class="column col-3">
					<div th:id="'cardset-' + ${cardset.id}" class="card cheight">
						<div class="card-image">
							<img class="fixed-image img-responsive" th:src="${cardset.image}">
						</div>
						<div class="card-header tile tile-centered text-justified">
							<span class="card-title h5" th:text="${cardset.name}"></span>
						</div>
						<div class="card-body"></div>
						<div class="card-footer">
							<div class="text-center">
								<a th:href="@{'entities/cardset/delete/' + ${cardset.id}}" title="remove set" class="btn btn-sm btn-error hvr-grow"><i class="fas fa-trash-alt"></i></a>&nbsp;&nbsp; <a id="cardset-edit" th:attr="data-id=${cardset.id}" href="#modal-create-cardset" title="edit set" class="btn btn-sm btn-primary hvr-grow"><i th:attr="data-id=${cardset.id}" href="#modal-create-cardset" class="fas fa-edit"></i></a> &nbsp;&nbsp; <a th:href="@{'cardset/' + ${cardset.id}}" title="edit cards"
									class="btn btn-sm btn-primary hvr-grow"><i class="fas fa-copy"></i></a> &nbsp;&nbsp; <a th:href="@{'play/' + ${cardset.id}}" title="daily play" class="btn btn-sm btn-success hvr-grow"><i class="fas fa-play"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal modal-lg" id="modal-create-cardset">
			<a href="#close" class="modal-overlay" aria-label="Close"></a>
			<div class="modal-container">
				<div class="modal-header">
					<a id="modal-close" href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
					<div class="modal-title h5">New Cardset</div>
					<form method="post" action="/entities/cardset">
						<input type="hidden" id="id" name="id">
						<div class="form-group">
							<label class="form-label" for="name">Name</label>
							<input class="form-input" type="text" id="name" name="name" placeholder="Name">
						</div>
						<div class="form-group">
							<label class="form-label" for="image">Image URL</label>
							<input class="form-input" type="text" id="image" name="image" placeholder="Image URL">
						</div>
						<div class="form-group">
							<button type="reset" class="btn btn-primary">Reset</button>
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-body">
				<div class="content">
					<!-- content here -->
				</div>
			</div>
			<div class="modal-footer">...</div>
		</div>
	</div>
</body>
<script>
	/*<![CDATA[*/
	$("#modal-close").click(e=> $("#modal-create-cardset").removeClass("active"));
	$("#cardset-add").click(e => $(e.target).attr("href").addClass("active"));
	$("#cardset-edit").click(e => {
		var cardsetId = "#cardset-" + $(e.target).attr("data-id");
		$($(e.target).attr("href")).find("#id").val($(e.target).attr("data-id"));
		$($(e.target).attr("href")).find("#name").val($(cardsetId).find(".card-title").text());
		$($(e.target).attr("href")).find("#image").val($(cardsetId).find(".fixed-image").attr("src"));
		$($(e.target).attr("href")).addClass("active");
	});
	/*]]>*/
</script>
</html>
</body>
</html>