<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Spaced - Change password')">
<title>My Portfolio - Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
<link rel="stylesheet" type="text/css"href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" type="text/css"href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" type="text/css"href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<link rel="stylesheet" type="text/css"href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css"href="../static/css/hover-min.css" th:href="@{/css/hover-min.css}" />
<link rel="stylesheet" type="text/css"href="../static/css/flip.css" th:href="@{/css/flip.css}" />
<link rel="stylesheet" type="text/css"href="../static/css/custom.css" th:href="@{/css/custom.css}" /></head>
<body>
	<header th:replace="fragments :: header" class="navbar">
		<section class="navbar-section">
			&nbsp;&nbsp;<a href="index.html" class="navbar-brand mr-2">Spaced</a>
		</section>
	</header>
	<br />
	<div class="container">
		<div class="columns">
			<div class="column col-12 tile tile-centered col-mx-auto horz-center">
				<div class="card">
					<div class="card-body">
						<form id="passForm" method="post" action="#" th:action="@{/password}">
							<div class="form-row">
								<div class="form-group col">
									<input id="cpassword" name="cpassword" placeholder="Current password" type="password" class="form-control">
								</div>
								<div class="form-group col">
									<input id="npassword" placeholder="New password" name="npassword" type="password" class="form-control">
								</div>
								<div class="form-group col">
									<input id="rpassword" name="rpassword" placeholder="Repeat password" type="password" class="form-control">
								</div>
								<div class="form-group col text-right">
									<button type="submit" class="btn btn-secondary">Update</button>
								</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>