<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
<head th:replace="fragments::head('Spaced - Home')">
<title th:text="${title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script src="../static/js/testdata.js" th:src="@{/js/testdata.js}"></script>
<script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/hover-min.css" th:href="@{/css/hover-min.css}" />
<link rel="stylesheet" href="../static/css/flip.css" th:href="@{/css/flip.css}" />
<link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}" />
</head>
<body>
	<header class="navbar">
		<section class="navbar-section">
			<a href="/index" class="navbar-brand mr-2">Spaced</a>
		</section>
		<section class="navbar-section">
			<a href="..." class="btn btn-link">Admin</a> <a href="..." class="btn btn-link">User</a>
		</section>
	</header>
	<div class="card-container">
		<div class="card-data" th:each="card: ${cardset.cards}" 
		th:attr="data-id=${card.id},data-task=${card.task},data-answer=${card.answer}"></div>
	</div>
	<!-- multi-bars -->
	<div class="bar bar-sm">
		<div class="bar-item" role="progressbar" style="width: 0%;"></div>
	</div>
	<div class="container">
		<div class="columns">
			<div class="column col-4"></div>
			<div id="play" class="column col-4 scene scene--card-flip">
				<div class="card-flip">
					<div id="card-model-front" class="card card__face card__face--front">
						<div class="card-body tile tile-centered">
							<h1 id="task" class="text-center"></h1>
						</div>
						<div class="card-footer">
							<i><sub>(flip to see answer)</sub></i>
						</div>
					</div>
					<div id="card-model-back" class="card card__face card__face--back">
						<div class="card-body tile tile-centered">
							<h3 id="answer" class="text-center"></h3>
						</div>
						<div class="card-footer"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="button-panel panel">
			<div class="columns button-panel">
				<div class="column col-6 text-center">
					<button id="right-btn" href="" class="btn btn-success">Right</button>
				</div>
				<div class="column col-6 text-center">
					<button id="wrong-btn" href="" class="btn btn-error">Wrong</button>
				</div>
			</div>
		</div>
		<div class="work-panel panel">
			<div class="shadow column col-3 col-mx-auto center"></div>
		</div>
	</div>
	<section class="d-hide">
		<!-- card models -->
		<div id="card-model-front" class="front face card cheight">
			<div class="card-body tile tile-centered">
				<h1 id="task" class="text-center"></h1>
			</div>
			<div class="card-footer">
				<i><sub>(click and hold to see answer)</sub></i>
			</div>
		</div>
		<div id="card-model-back" class="back face card cheight">
			<div class="card-body tile tile-centered">
				<h3 id="answer" class="text-center"></h3>
			</div>
			<div class="card-footer"></div>
		</div>
		<div id="card-model-finish" class="card cheight">
			<div class="card-body tile tile-centered col-mx-auto">
				<i class="fa fa-8x text-success fa-check-circle"></i>
			</div>
			<div class="card-footer">
				<i><sub>(You have studied all cards for today)</sub></i>
			</div>
		</div>
		<!-- card models -->
		<!-- bar item -->
		<div class="bar-item" data-tooltip="" style="width: 35%;"></div>
		<!-- bar item -->
	</section>
</body>
<script>
	/*<![CDATA[*/

	$('.card-flip').click(function(e) {
		$('.card-flip').toggleClass('is-flipped');
	});

	function showPlayCard(index) {
		$(".card-container").attr("data-current",index);
		var card = $(".card-container").find(".card-data").get(index);
		alert($(card).attr("data-task"));
		//	$("#play").empty();
		if (card != null) {
			$("#card-model-front").find("#task").text(
					$(card).attr("data-task"));
			$("#card-model-back ").find("#answer").text(
					$(card).attr("data-answer"));
			//	 $(".bar-item").attr("style","width:"+cardset.cards.indexOf(cardset.current)/cardset.cards.length*100 + "%").attr("aria-valuenow",cardset.cards.indexOf(cardset.current)).attr("aria-valuemax",cardset.cards.length);
		} else {
			$(".button-panel").addClass("d-hide");
			$("#card-model-finish").removeClass("d-hide");
			$("#play").addClass("d-hide");
			;
			//	 $(".bar-item").attr("style","width:100%").attr("aria-valuenow",cardset.cards.length).attr("aria-valuemax",cardset.cards.length);

		}

	}
	/*
	 //data load and massaging
	 //cardsetId
	 var cardset = loadCardset(1);
	 linkCards(cardset);
	
	 */
	 
	 function send(cardset,right,showPlayCard){
		 $.get("").done(
				 function())
			cardset.current = cardset.current.next;
			showPlayCard(cardset);
		}

	 $("#right-btn").on("click",function (e)  {send(cardset,true,showPlayCard)});
	 $("#wrong-btn").on("click",function (e)  {send(cardset,false,showPlayCard)});

	showPlayCard(1);
	//================================================
	/*]]>*/
</script>
</html>
</body>
</html>