<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Spaced - Play')">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/css/hover-min.css" th:href="@{/css/hover-min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/flip.css" th:href="@{/css/flip.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/custom.css" th:href="@{/css/custom.css}" />
</head>
<body>
	<header th:replace="fragments :: header" class="navbar">
		<section class="navbar-section">
			&nbsp;&nbsp;<a href="index.html" class="navbar-brand mr-2">Spaced</a>
		</section>
	</header>
	<div class="card-container" th:attr="data-size=${#lists.size(cards)}">
		<div class="card-data" th:each="card: ${cards}" th:attr="data-id=${card.id},data-task=${card.task},data-answer=${card.answer}"></div>
	</div>
	<!-- multi-bars -->
	<div class="bar bar-sm">
		<div class="bar-item" role="progressbar" style="width: 0%;"></div>
	</div>
	<div class="container">
		<div class="columns">
			<div class="column col-4"></div>
			<div id="play" class="column col-4 scene scene--card-flip">
				<div class="card-flip">
					<div id="card-model-front" class="card card__face card__face--front">
						<div class="card-body col-mx-auto tile tile-centered">
							<h1 id="task" class="text-center"></h1>
						</div>
						<div class="card-footer">
							<i><sub>(flip to see answer)</sub></i>
						</div>
					</div>
					<div id="card-model-back" class="card card__face card__face--back">
						<div class="card-body col-mx-auto tile tile-centered">
							<h3 id="answer" class="text-center description"></h3>
						</div>
						<div class="card-footer"></div>
					</div>
				</div>
				<div id="card-model-finish" class="d-hide card card__face">
					<div class="card-body tile tile-centered col-mx-auto">
						<a href="/index"><i class="fa fa-8x text-success fa-check-circle"></i></a>
					</div>
					<div class="card-footer">
						<i><sub>(You have studied all cards for today)</sub></i>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="columns button-panel">
				<div class="column col-5 text-center">
					<button id="right-btn" href="" class="btn btn-success">Right</button>
				</div>
				<div class="column col-2 text-center">
					<div class="text-success">
						<b id="answer-ok" ></b>
					</div>
				</div>
				<div class="column col-5 text-center">
					<button id="wrong-btn" href="" class="btn btn-error">Wrong</button>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="columns work-panel">
				<div class="column col-10 col-mx-auto text-center">
					<textarea cols="50" rows="10" id="workarea" placeholder="Workarea"></textarea>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="columns">
				<div class="column col-8 col-mx-auto description" th:text="${description}"></div>
			</div>
		</div>
	</div>
</body>
<script>
	/*<![CDATA[*/
	var _csrfParameterName = '[[${_csrf.parameterName}]]';// 'default';
	var _csrfToken = '[[${_csrf.token}]]';// 'default';
	var csrf = {};
	csrf[_csrfParameterName] = _csrfToken;
	
	$('.card-flip').click(function(e) {
		$('.card-flip').toggleClass('is-flipped');
	});
	
	

	function showPlayCard(index) {
		var card = $(".card-container").find(".card-data").get(index);
		if (card != null) {
			$("#card-model-front").find("#task")
					.text($(card).attr("data-task"));
			$("#card-model-back ").find("#answer").text(
					$(card).attr("data-answer"));
		} else {
			$("textarea").val('');
			$(".button-panel,.work-panel").addClass("d-hide");
			$("#card-model-front,#card-model-back,#card-model-finish")
					.toggleClass("d-hide");
		}
	}
	
	var CORRECT = "Correct";
	var ACCENTS = "Mind the accents";
	var FAILURE = "";
	
	function compare(work,answer){
		work = work.replace(/\s/g,'');
		answer = answer.replace(/\s/g,'');
		work = work.toLowerCase();
		answer = answer.toLowerCase();
		if (work !== answer){
			work = work.replace(/â|á|à/g,'a');
			answer = answer.replace(/â|á|à/g,'a');
			work = work.replace(/ê|é|è/g,'e');
			answer = answer.replace(/ê|é|è/g,'e');
			work = work.replace(/î|í|ì/g,'i');
			answer = answer.replace(/î|í|ì/g,'i');
			work = work.replace(/ô|ó|ò/g,'o');
			answer = answer.replace(/ô|ó|ò/g,'o');
			work = work.replace(/û|ú|ù/g,'u');
			answer = answer.replace(/û|ú|ù/g,'u');
			work = work.replace(/ç/g,'c');
			answer = answer.replace(/û|ú|ù/g,'u');
			
			return (work === answer)?ACCENTS:FAILURE;
		}
	/*	
		â 131	ê 136	î 140	ô 147	û 150
		á 160	é 130	í 161	ó 162	ú 163
		à 133	è 138	ì 141	ò 149	ù 151
		ç 135
		*/
		return CORRECT;	
	}

	function barProgress() {
		var size = $(".card-container").attr("data-size");
		var cardsLeft = $(".card-container .card-data").length;
		$(".bar-item").attr("style",
				"width:" + (size - cardsLeft) / size * 100 + "%");
	}
	
	$("#workarea").on("change keyup paste",() => {
		var answer = $("#answer").text();
	//	alert(answer);
		var work = $("#workarea").val();
			$("#answer-ok").text(compare(work,answer));
		return;
	});

	$("#right-btn").on("click", function(e) {
		var card = $(".card-container").find(".card-data").get(0);

		var id = $(card).attr("data-id");
		//only submit the first time you get the card right
		if (id) {
			$.post("/play/right/" + id, csrf).done(function() {
				$("textarea").val('');
				$("#answer-ok").text("");
				$(card).remove();
				barProgress();
				showPlayCard(0);
			});
		} else {
			$(card).remove();
			barProgress();
			showPlayCard(0);
		}

	});
	
	$("#wrong-btn").on("click", function(e) {
		var card = $(".card-container").find(".card-data").get(0);
		var id = $(card).attr("data-id");
		//only submit the first time you get the card wrong
		if (id) {
			$.post("/play/wrong/" + id, csrf).done(function() {
				$(card).removeAttr("data-id");
				$("textarea").val('');
				$("#answer-ok").text("");
				$(card).remove();
				$(".card-container").append(card);
				showPlayCard(0);
			});
		} else {
			$(card).remove();
			$(".card-container").append(card);
			showPlayCard(0);
		}

	});

	showPlayCard(0);
	//================================================
	/*]]>*/
</script>
</html>
