<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
<head th:replace="fragments::head('Spaced - Home')">
<title th:text="${title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script src="../static/js/testdata.js" th:src="@{/js/testdata.js}"></script>
<script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/hover-min.css" th:href="@{/css/hover-min.css}" />
<link rel="stylesheet" href="../static/css/flip.css" th:href="@{/css/flip.css}" />
<link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}" />
</head>
<body>
	<header class="navbar">
		<section class="navbar-section">
			<a href="/index" class="navbar-brand mr-2">Spaced</a>
		</section>
		<section class="navbar-section">
			<a href="..." class="btn btn-link">Admin</a> <a href="..." class="btn btn-link">User</a>
		</section>
	</header>
	<div class="card-container" th:attr="data-size=${#lists.size(cardset.cards)}">
		<div class="card-data" th:each="card: ${cardset.cards}" th:attr="data-id=${card.id},data-task=${card.task},data-answer=${card.answer}"></div>
	</div>
	<!-- multi-bars -->
	<div class="bar bar-sm">
		<div class="bar-item" role="progressbar" style="width: 0%;"></div>
	</div>
	<div class="container">
		<div class="columns">
			<div class="column col-4"></div>
			<div id="play" class="column col-4 scene scene--card-flip">
				<div class="card-flip">
					<div id="card-model-front" class="card card__face card__face--front">
						<div class="card-body tile tile-centered">
							<h1 id="task" class="text-center"></h1>
						</div>
						<div class="card-footer">
							<i><sub>(flip to see answer)</sub></i>
						</div>
					</div>
					<div id="card-model-back" class="card card__face card__face--back">
						<div class="card-body tile tile-centered">
							<h3 id="answer" class="text-center"></h3>
						</div>
						<div class="card-footer"></div>
					</div>
				</div>
				<div id="card-model-finish" class="d-hide card card__face">
					<div class="card-body tile tile-centered col-mx-auto">
						<a href="/index"><i class="fa fa-8x text-success fa-check-circle"></i></a>
					</div>
					<div class="card-footer">
						<i><sub>(You have studied all cards for today)</sub></i>
					</div>
				</div>
			</div>
		</div>
		<div class="button-panel panel">
			<div class="columns button-panel">
				<div class="column col-6 text-center">
					<button id="right-btn" href="" class="btn btn-success">Right</button>
				</div>
				<div class="column col-6 text-center">
					<button id="wrong-btn" href="" class="btn btn-error">Wrong</button>
				</div>
			</div>
		</div>
		<div class="work-panel panel">
			<div class="shadow column col-3 col-mx-auto center"></div>
		</div>
	</div>
</body>
<script>
	/*<![CDATA[*/

	$('.card-flip').click(function(e) {
		$('.card-flip').toggleClass('is-flipped');
	});

	function showPlayCard(index) {
		var card = $(".card-container").find(".card-data").get(index);
		if (card != null) {
			$("#card-model-front").find("#task")
					.text($(card).attr("data-task"));
			$("#card-model-back ").find("#answer").text(
					$(card).attr("data-answer"));
		} else {
			$(".button-panel").addClass("d-hide");
			$("#card-model-front,#card-model-back,#card-model-finish").toggleClass("d-hide");

		}

	}

function barProgress(){
	var size = $(".card-container").attr("data-size");
	var cardsLeft = $(".card-container .card-data").length;
	$(".bar-item").attr("style","width:"+(size - cardsLeft)/size*100 + "%");
}

	$("#right-btn").on("click", function(e) {
		var card = $(".card-container").find(".card-data").get(0);

		//	alert(card);
		var id = $(card).attr("data-id");
		//only submit the first time you get the card right
		if (id) {
			$.post("/play/right/" + id).done(function() {
				$(card).remove();
				barProgress();
				showPlayCard(0);
			});
		} else {
			$(card).remove();
			barProgress();
			showPlayCard(0);
		}
		

	});
	 

	$("#wrong-btn").on("click", function(e) {
		var card = $(".card-container").find(".card-data").get(0);
		var id = $(card).attr("data-id");
		//only submit the first time you get the card right
		if (id) {
			$.post("/play/wrong/" + id).done(function() {
				$(card).removeAttr("data-id");

				$(card).remove();
				$(".card-container").append(card);
				showPlayCard(0);
			});
		} else {
			$(card).remove();
			$(".card-container").append(card);
			showPlayCard(0);
		}

	});

	showPlayCard(0);
	//================================================
	/*]]>*/
</script>
</html>
</body>
</html>